<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reddit</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Space</h1>
    </header>
    <content>
        <posts>
            <ul>
                <li>Post1</li>
                <li>Post2</li>
            </ul>
        </posts>
        <aside>
            <button>Submit a new post</button>
            <about>
                <h1>About<span><a>r/space</a></span></h1>
                <p>Share & discuss informative content on:</p>
                <ul>
                    <li>Astrophysics</li>
                    <li>Cosmology</li>
                    <li>Space Exploration</li>
                    <li>Planetary Science</li>
                    <li>Astrobiology</li>
                </ul>
            </about>
        </aside>
    </content>
    <script src="../controllers/frontend.js"></script>
</body>
</html>