<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reddit</title>
    <link rel="stylesheet" href="../assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Muli:200,400,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Space</h1>
        <h2>Welcome to /r/space</h2>
    </header>
    <content>
        <posts>
            <ul id='article-list'>
                <!-- <li>
                    <div class="vote-section">
                        <img class='upvote' src="../assets/arrows/upvote.png">
                        <h1>128</h1>
                        <img class='downvote' src="../assets/arrows/downvote.png">
                    </div>
                    <div class="article-section">
                        <h1>Lorem ipsum dolores lacrimosa est ubi tibid huehue
                            <a class='article-link' href="https://facebook.com">
                                (facebook.com)
                            </a>
                        </h1>
                        <p>submitted 3 hours ago by 
                            <a class='username'>anonymus</a>
                        </p>
                        <p class="actions">
                            <a class="edit">edit</a>
                            <a class="delete">delete</a>
                        </p>
                    </div>
                </li> -->
            </ul>
        </posts>
        <aside>
            <button>Submit a new post</button>
            <about>
                <div id="about-title">
                    <h1>About<span><a href="http://localhost:3000/"> r/space</a></span></h1>
                </div>
                <div id="about-desc">
                    <p>Share & discuss informative content on:</>
                    <ul>
                        <li>Astrophysics</li>
                        <li>Cosmology</li>
                        <li>Space Exploration</li>
                        <li>Planetary Science</li>
                        <li>Astrobiology</li>
                    </ul>
                </div>
            </about>
        </aside>
    </content>
    <script src="../controllers/frontend.js"></script>
</body>
</html>