<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reddit</title>
    <link rel="stylesheet" href="../assets/style.css">
    <!-- <link rel="stylesheet" href="http://127.0.0.1:5500/reddit-clone/public/assets/style.css?_cacheOverride=1573739477555"> -->
</head>
<body>
    <header>
        <h1>Space</h1>
    </header>
    <script src="../controllers/frontend.js"></script>
</body>
</html>