:root {
    --main-light-grey: #fbfbfb;
    --main-mid-grey: #9a9698;
    --main-dark-grey: #525462;
    --link-blue: #317db3;
  }

body {
    margin: 0;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* HEADER */

header {
    display: inherit;
    flex-direction: column;
    width: 100%;
    height: 30%;
    min-height: 200px;
    background-image: url("banner/bannerBackgroundImage_zdpd5qpvi3f01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    align-items: center;
    justify-content: center;
    font-family: 'Muli', sans-serif;
}

header h1 {
    padding-bottom: 50px;
    font-size: 200%;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 70px;
    color: var(--main-light-grey);
    padding-left: 70px;
    margin: 0;
}

header h2 {
    font-size: 100%;
    font-weight: lighter;
    text-transform: uppercase;
    color: var(--main-light-grey);
    letter-spacing: 3px;
    margin: 0;
}

/* CONTENT */

content {
    display: flex;
    flex-direction: row;
    margin: 20px 10px;
    font-family: 'Muli', sans-serif;
}

/* SUBMIT FORM PART */

form {
    width: 65%;
    background: var(--main-light-grey);
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
}

#text, #url {
    width: 100%;
    background: #eeeeee;
    border: none;
    font-size: 20px;
    outline-color: var(--link-blue);
    margin-top: 15px;
}

#text {
    margin-bottom: 40px;
}

#url {
    height: 1.5em;
}

label {
    color: #555553;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
}

/* ASIDE PART */

aside {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-left: 10px;
}

aside button {
    margin-bottom: 10px;
    background: #4aa3df;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: var(--main-light-grey);
    font-weight: 700;
    letter-spacing: 3px;
}

button:hover {
    filter: brightness(110%);
}

button:active {
    filter: brightness(90%);
}

button:focus {
    outline: none;
}

.clicked {
    margin-bottom: 10px;
    background: #3cb879;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: var(--main-light-grey);
    font-weight: 700;
    letter-spacing: 3px;
}

about {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

#about-title {
    background: var(--main-light-grey);
}

#about-title h1 {
    color: #555553;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    padding: 0 5%;
}

#about-title a {
    text-transform: lowercase;
    color: var(--link-blue);
    text-decoration: none;
}

#about-desc {
    background: #f5f5f5;
    color: var(--main-dark-grey);
}

#about-desc p {
    text-align: center;
}

#about-desc ul {
    list-style-type: square;
}